<!DOCTYPE html>
<html ng-app="radar">
  <head>
    <title>Issue Timeline</title>
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://css-spinners.com/css/spinner/three-quarters.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="javascripts/home.js"></script>
  </head>

  <body ng-controller="mainCtrl">
    <div class="box ng-hide" ng-show="state=='submit'">
      <div class="panel panel-body">
        <div class="separator"></div>
         <center> <h1>Github Issue Radar</h1></center>
        <div class="separator"></div>
        <div>
          <div>
            <div ng-if="message.type=='error'" class="alert alert-danger text-center">{{message.text}}</div>
            <div ng-if="message.type=='info'" class="alert alert-success text-center">Get an access token (Github -> Settings -> Personal Access Tokens) and put it below.<div class="separator"></div> Choose a repository to view, the number of days back, and either open or closed issues.</div>
          </div>
          <form class="form-inline" autocomplete="off">
            <div class="span7 text-center">
              <label for="username">Github Repo Path:</label>
                <input type="text" class="form-control" name="repo" ng-model="repo">
            </div>
            <div class="separator"></div>
            <div class="span7 text-center">
              <label for="days"><b>Range of Days Ago:</b></label>
              <input type="text" class="form-control" name="days" ng-model="days">
              <label for="daysEnd"> to </label>
              <input type="text" class="form-control" name="daysEnd" ng-model="daysEnd">
            </div>
            <div class="separator"></div>
            <div class="span7 text-center">
              <label for="token">Access Token: </label>
              <input type="text" class="form-control" name="token" ng-model="accessToken">
            </div>
            <center>
              <div ng-if="!loading" class="separator-lg"></div>
              <div ng-if="loading" class="padding-sm"><div class="three-quarters-loader">Loading...</div></div>
            </center>
            <div class="span7 text-center">
              <button class="btn btn-primary btn-lg button-pad" ng-click="getIssues('Open')">Open</button>
              <button class="btn btn-primary btn-lg button-pad" ng-click="getIssues('Close')">Closed</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="issue-report ng-hide" ng-show="state=='open'">
      <div id="panel">
        <h2>Open issues in {{indexData.repo}}</h2>
        <table class="table table-striped padding-50">
          <thead>
            <tr>
              <th># of issues opened within the last {{indexData.days}} to  {{indexData.daysEnd}} days</th>
              <th class="text-right">{{indexData.numberOfIssues}}</th>
            </tr>
            <tr>
              <th>Total # of open issues</th>
              <th class="text-right">{{indexData.totalNumber}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div class="separator"></div>
        <div ng-if="indexData.repo=='shippable/support'">
          <h3>Type and status of issues opened within the last {{indexData.days}} to  {{indexData.daysEnd}} days</h3>
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th><button type="button" class="btn btn-success">resolved</button></th>
                <th><button type="button" class="btn btn-info">triaged</button></th>
                <th><button type="button" class="btn btn-primary">in progress</button></th>
                <th><button type="button" class="btn btn-default">other</button></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th><button type="button" class="btn btn-info">question</button></th>
                <td ng-repeat="issue in indexData.issueMatrix[0] track by $index">{{issue}}</td>
              </tr>
              <tr>
                <th><button type="button" class="btn btn-danger">bug</button></th>
                <td ng-repeat="issue in indexData.issueMatrix[1] track by $index">{{issue}}</td>
              </tr>
              <tr>
                <th><button type="button" class="btn btn-primary">feature request</button></th>
                <td ng-repeat="issue in indexData.issueMatrix[2] track by $index">{{issue}}</td>
              </tr>
              <tr>
                <th><button type="button" class="btn btn-default">other</button></th>
                <td ng-repeat="issue in indexData.issueMatrix[3] track by $index">{{issue}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="separator"></div>
        <h3>Age of open issues</h3>
        <table class="table table-striped padding-50">
          <thead>
            <tr>
              <th>Days passed since creation</th>
              <th ng-repeat-start="day in indexData.obsWindow track by $index" ng-if="$first">
                less than {{day}}
              </th>
              <th ng-if="!$first">
                {{indexData.obsWindow[$index-1]}} to {{day}}
              </th>
              <th ng-repeat-end ng-if="$last">
                more than {{day}}
              </th>
            </tr>
            <tr>
              <th># of issues</th>
              <th ng-repeat="issues in indexData.noIssues track by $index" class="text-center">{{issues}}</th>
            </tr>
          </thead>
        </table>
        <div class="separator"></div>
        <button ng-click="back()" id="Back" class="btn btn-lg btn-default"> <span class="glyphicon glyphicon-arrow-left"></span>  Back</button>
      </div>
    </div>
    <div class="issue-report ng-hide" ng-show="state=='closed'">
      <div id="panel">
        <h2>Closed issues in {{indexData.repo}}</h2>
        <table class="table table-striped padding-50">
          <thead>
            <tr>
              <th># of issues closed within {{indexData.days}} to  {{indexData.daysEnd}} days of creation</th>
              <th class="text-right">{{indexData.numberOfIssues}}</th>
            </tr>
            <tr>
              <th># of issues closed {{indexData.days}} to  {{indexData.daysEnd}} days ago</th>
              <th class="text-right">{{indexData.numberOfIssuesClosedWithin}}</th>
            </tr>
            <tr>
              <th>Total # of closed issues</th>
              <th class="text-right">{{indexData.totalNumber}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
             <td></td>
             <td></td>
            </tr>
          </tbody>
        </table>  
        <div class="separator"></div>
        <h3>Issues Closed within days of creation</h3>
        <table class="table table-striped padding-50">
          <thead>
            <tr>
              <th># of days taken to close</th>
              <th ng-repeat-start="day in indexData.obsWindow track by $index" ng-if="$first" class="text-center">
                less than {{day}}
              </th>
              <th ng-if="!$first" class="text-center">
                {{indexData.obsWindow[$index-1]}} to {{day}}
              </th>
              <th ng-repeat-end ng-if="$last" class="text-center">
                more than {{day}}
              </th>
            </tr>
            <tr>
              <th># of issues</th>
              <th ng-repeat="issues in indexData.noIssues track by $index" class="text-center">{{issues}}</th>
            </tr>
          </thead>
        </table>
        <div class="separator"></div>
        <h3>Timeline of issues closed</h3>
          <table class="table table-striped padding-50">
            <thead>
              <tr>
                <th>Closed in # of days </th>
                <th ng-repeat-start="day in indexData.obsWindow track by $index" ng-if="$first" class="text-center">
                  less than {{day}}
                </th>
                <th ng-if="!$first" class="text-center">
                  {{indexData.obsWindow[$index-1]}} to {{day}}
                </th>
                <th ng-repeat-end ng-if="$last" class="text-center">
                  more than {{day}}
                </th>
              </tr>
              <tr>
                <th># of issues</th>
                <th ng-repeat="issues in indexData.noIssuesClosedWithin track by $index" class="text-center">
                  {{issues}}
                </th>
              </tr>
            </thead>
          </table>
          <div class="separator"></div>
        <button ng-click="back()" id="Back" class="btn btn-lg btn-default"> <span class="glyphicon glyphicon-arrow-left"></span>  Back</button>
      </div>
    </div>
  </body>
</html>
