body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input {
    width: 200px;
}

body {
    padding-top: 90px;
}
.box{
    width:50%;
    margin: 0px auto ;
}

.panel{
    background:#f0f0f0;
}